:root{
    --back: rgb(0, 0, 0);
    --back2: rgba(58, 58, 58, 0.781);
    --fontcolor: white;
	--back3: rgb(35, 163, 163);
	--border: hsla(0,0%,20%,.8);
}

table{
    margin: 10px auto;
    border: thin solid var(--back);
    border-collapse: collapse;
    
}
 thead tr:first-child th, .black  {
	background-color: var(--back);
	color: var(--fontcolor);
}

.grey {
    background-color: var(--back2);
    color: var(--fontcolor);
}

caption{
    caption-side: bottom;
    
}



tbody tr:nth-child(even) {
	background-color: var(--back3);
}

tr, th {
	padding: 7px 15px;
	border: 1px solid var(--back);
}