*{
    margin: 5px;
    box-sizing: border-box;
}

body{   
    text-align: center;    
}

header{
    background-color: green;
    color: white;
    padding: 1em;
}


nav a{
    display: block;
    color:#fff;
    text-align: center;
    padding: 1rem;
}
    
nav a:hover{
    border: 2px solid #fff;
}
main {
    padding: 0 2%;
    min-height: 20rem;
}
.ca a{
	display: block;
	position: relative;
    color:#fff;
    text-align: center;
    padding: 1rem;
	font-size: 20px;
	
}
.ca:hover{
	border: 2px solid #fff;
}
.netimg{
	width: 75%; 
	height:"auto";
}
footer{
    color: white;
    background-color: #396E94;
    padding: 1em;    
}


.page{
	
	grid-template-columns: 1fr;
	grid-template-areas: 
	"main"
	"sidebar"
	"content1"
	"content2"
	"content3"
	;
	
}

#main{
	grid-area: main;
background-color: red;
}
#sidebar{
	grid-area: sidebar;
	background-color: blue;
	color: white;
}
#content1{
	grid-area: content1;
	background-color: yellow;
}
#content2{
	grid-area: content2;
	background-color: green;
}
#content3{
	grid-area: content3;
	background-color: violet;
}

.discoverpage{
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	
}
 iframe{
	width: 80%;
	height: 80%;
 }



#m{
	grid-area: m;
	background-color: red;
	padding-bottom: 10px;
	color:white;
}
#m img{
	display: flex;
	flex-direction: column;
    background: #000;
    animation: fade  10s;	
	align-content: center;
	width: 90%;
    height: auto;
	
}


#d{
	grid-area: d;
	background-color: blue;
	color:white;
}
#v{
	grid-area: v;
	background-color: violet;
	color:white;
}
#s{
	grid-area: s;
	background-color: yellow;
}
#c{
	grid-area: c;
	background-color: green;
	color:white;
}
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
  
}

.navigation {
	display: flex;
	flex-direction: column;
	width: 100%;
	list-style: none;
	text-align: center;
	background-color: #396E94;
	color: #fff;
}
.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
li{
	list-style-type: none;
}
@keyframes fade{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
 /* FORM */
 
form fieldset{
	margin:2rem 0;
	border:1px solid #445ba9;
	border-radius: 10px;
	padding: .75rem 2%;
}

form input.submitBtn{
	border:none;
	background-color: green;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

form input.submitBtn:hover{
	border:none;
	background-color: blue;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}
form label.top input, form label.top select {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color:#555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0,0,0,0.1);

}
form legend{
	color:#445ba9;
	margin: 0 1rem;
	padding: 0 .5rem;
}
form label.top input:required {
	border-left: red solid 6px;

}

form label.top input:required:valid{
	border-left: green solid 6px;
}
form label.top, form div{
	display: block;
	padding-top: 1rem;	
	text-align: left;
}

/*directory*/ 
section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
	
}


section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.5rem;
	color: navy;
	
}
section  {
	font-size: 1.5rem;
}



section a {
	font-size: 1rem;
	color: navy;
	
}




.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
	align-items: center;
}

.grid section {
	text-align: center;
}


.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
	align-items: center;
	width: 50%;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
	margin: 0;
	text-align: left;
}



.list section img {
	display: none; 
}
section h2 {
	font-size: 100%;
}
section p {
	font-weight: 100;
	font-size: smaller;
}
.list section:nth-child(even) {
	background-color: white;
}

#content2{
	color: white;
}

/*BANNER*/

#banner {
    position: fixed;
    top: 35%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    max-width: 700px;
    opacity: 0.9;
    z-index: 1;
}

#close::before {
    content: "❌";
	
}

#close {
    margin: 1rem;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    
}

#close:hover {
    cursor: pointer;
	background-color: #445ba9;
}

#banner p {
    margin: .25rem 0;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    background-color: #2fd0d3;
	color: white;
}


