*{
    margin: 5px;
    box-sizing: border-box;
}

body{   
    text-align: center;    
}

header{
    background-color: green;
    color: white;
    padding: 1em;
}

nav{
    
    background-color: #396E94;
    padding: 1em;    
}

nav a{
    display: block;
    color:#fff;
    text-align: center;
    padding: 1rem;
}
    
nav a:hover{
        border: 2px solid #fff;
}

.page{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"sidebar main main main"
		"sidebar main main main"
		"sidebar main main main"
		"sidebar content1 content2 content3"
		"sidebar content1 content2 content3"
	;
	gap: 3px;
	height: 100%;

}
#main{
	grid-area: main;
background-color: red;
}
#sidebar{
	grid-area: sidebar;
	background-color: blue;
}
#content1{
	grid-area: content1;
	background-color: yellow;
}
#content2{
	grid-area: content2;
	background-color: green;
}
#content3{
	grid-area: content3;
	background-color: violet;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
  
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}
.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
