@media screen and (min-width: 600px) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
	
	h2 {
		font-size: 2rem;
		text-align: center;
	}
    nav {
        display: block;
        justify-content: space-around;
		background-color: #396E94;
		padding: 0.5em; 
		
		width: 100%;
    }

    nav a{
        flex: 1 1 100%;
		width: 100%;
    }
	.page{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr ;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
			"sidebar main main main"
			"sidebar main main main"
			"sidebar main main main"
			"sidebar content1 content2 content3"
			"sidebar content1 content2 content3";
		gap: 3px;
		height: 100%;
	
	}

	.discoverpage{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas: 
			"d d m m m"
			"v v m m m"
			"s s m m m"
			"s s m m m"
			"c c m m m";
		gap: 3px;
		height: 100%;
	
	}
	#m img:hover {box-shadow: 0 0 50px #333;}
	#m{
		grid-area: m;
	background-color: red;
	color:white;
	}
	#d{
		grid-area: d;
		background-color: blue;
		color:white;
	}
	#v{
		grid-area: v;
		background-color: violet;
		color:white;
	}
	#s{
		grid-area: s;
		background-color: yellow;
	}
	#c{
		grid-area: c;
		background-color: green;
		color:white;
	}
	

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
		width: 100%;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
		width: 100%;
	}
	 /* FORM */

	main.fb{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	

	form fieldset{
		margin:2rem 0;
		border:1px solid #445ba9;
		border-radius: 10px;
		padding: .75rem 0;
	}
	/* directory */
	.list section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0;
		font-size: small;
    }
       
    .list section a {
        margin-top: 10px;
    }
	.list section h2 {
        font-size: medium;
		text-align: left;
    }
    .grid section {
        text-align: center;
        min-height: 100px;
    }
	.grid a {
		font-size: 50%;
	}
}