@media screen and (min-width: 600px){
 
    body{
        position: relative;
    }

    nav {
        display: flex;
        justify-content: space-around;
        color: #fff;
        background-color: black;
        margin: 0 auto;
        max-width: 100%;
    
    }
    nav a{
        flex: 1 1 100%;
		width: 100%;
    }
    nav a:hover{
        background-color: #bbb;
	    color: #333;
    }

    .hero img{
        width: 100%;
        height: auto;
    }
   
    h2{
        width:  100%;
    }
    .section-grid{
        
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "c1 c2";
    }
    
    .card{
        grid-area: c1;       
    }

    .card2{
        grid-area: c2;
        
    }
    
    .navigation {
		flex-direction: row;
        padding: 1rem;
        margin: 0 auto;
        width: 100%;
	}
    
    .navigation li {
		display: block;
		flex: 1 1 100%;
        
	}
    #menu {
		display: none; /* hide hamburger button */
	}

    
    /* LABEL ROME ITALY TEMPLE */

.herolabel{
	position: absolute;
	top: 500px;
	left: 300px;
	background: radial-gradient(#fff, #894d97);
	border: 1px solid rgba(0,0,0,.75);
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	
}

.herolabel p {
	margin: 0;
	padding: 1rem;
	font-weight: 700;
	font-weight: 2rem;
}

    
}