@media screen and (min-width: 600px){
 
    body{
        position: relative;
    }

    nav {
        display: flex;
        justify-content: space-around;
    }
    nav a{
        flex: 1 1 100%;
    }
    h2{
        width:  100%;
    }
    .section-grid{
        
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "c1 c2";
    }
    
    .card{
        grid-area: c1;    
        
        
    }

    .card2{
        grid-area: c2;
        
    }
    
    .navigation {
		flex-direction: row;
        margin: 0;
	}
    
    .navigation li {
		display: block;
		flex: 1 1 100%;
	}
    #menu {
		display: none; /* hide hamburger button */
	}
    
    
}